/* NavBar.module.css */
.navbar {
  background-color: #005f73;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand,
.link {
  color: #f1faee;
  text-decoration: none;
  margin: 0 15px;
}

.link:hover,
.brand:hover {
  color: #e63946;
}
